* {
	padding: 0;
	margin: 0;
}
body {
	font-family: sans-serif, 'Arial';
	background: #007d7d;
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#007d7d', EndColorStr='#005697');
	background: -moz-linear-gradient(top, #33ccff, #ff99cc);
	background: -webkit-gradient(linear, left top, left bottom, from(#ff99cc), to(#33ccff));
	background: -o-linear-gradient(#33ccff, #ff99cc);
	background: linear-gradient(top, #33ccff, #ff99cc);
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}
html{
		background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
}
textarea{
	resize: none;
	width: 300px;
	height: 200px;
	border: none;
	font-weight: bold;
	color: #000;
	background-color: transparent;
}
input[type="button"]{
	border: 2px solid #4285F4;
	border-radius: 5px;
	background: #4285F4;
	font-weight: bold;
	color: #fff;
	padding: 10px;
	margin-bottom: 8px;
}
input[type="button"]:hover {
box-shadow: 0 2px 5px 0 rgba(0,0,0,16), 0 2px 10px 0 rgba(0, 0, 0, 4);
transition: .3s;
/*background: rgba(0,0,0,0);
color: #3a7999;
box-shadow: inset 0 0 0 3px #3a7999;*/
}
img{
	border-radius: 20px;
}
a{
	font-weight: bold;
	color: #000;
}
.cont_MyName{
}
.cont_icono{
	position: absolute;
	opacity: .6;
    bottom:25px;
    right:10px;
}
.Contenedor_Padre{
	display: flex;
	justify-content: center;
}
.Contenedor_Codify{
	padding: 10px;
  	margin: 10px;
}
.btn_Copy{
	border: 2px solid #157424;
	border-radius: 7px;
	background: #157424;
	font-weight: bold;
	color: #fff;
	padding: 10px;
	margin-bottom: 8px;
}
.btn_Copy:hover{
	box-shadow: 0 2px 5px 0 rgba(0,0,0,16), 0 2px 10px 0 rgba(0, 0, 0, 4);
	transition: .3s;
}
.btn_reset{
	margin-left: 50%;
	border: 2px solid #4285F4;
	border-radius: 7px;
	background: #4285F4;
	font-weight: bold;
	color: #fff;
	padding: 10px;
	margin-bottom: 8px;
}
.btn_reset:hover{
	box-shadow: 0 2px 5px 0 rgba(0,0,0,16), 0 2px 10px 0 rgba(0, 0, 0, 4);
	transition: .3s;
}
.wave-effect{
	position: absolute;
	border-radius: 50%;
	background-color: (255,255,255,0.5);
	padding: 0;
	margin: 0;
	opacity: 0.6;
	-webkit-transform: translate3d(-50%, -50%, 0);
}